<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="army.db.dao.StudyMapper" >
  <resultMap id="BaseResultMap" type="army.db.pojo.Study" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="title" property="title" jdbcType="VARCHAR" />
    <result column="time" property="time" jdbcType="VARCHAR" />
    <result column="imgUrl" property="imgurl" jdbcType="VARCHAR" />
    <result column="state" property="state" jdbcType="INTEGER" />
    <result column="extra" property="extra" jdbcType="VARCHAR" />
    <result column="releaseBy" property="releaseby" jdbcType="INTEGER" />
    <result column="point" property="point" jdbcType="INTEGER" />
    <result column="type" property="type" jdbcType="INTEGER" />
  </resultMap>
  <resultMap id="ResultMapWithBLOBs" type="army.db.pojo.Study" extends="BaseResultMap" >
    <result column="content" property="content" jdbcType="LONGVARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, title, time, imgUrl, state, extra, releaseBy, point, type
  </sql>
  <sql id="Blob_Column_List" >
    content
  </sql>
  <select id="selectByPrimaryKey" resultMap="ResultMapWithBLOBs" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from study
    where id = #{id,jdbcType=INTEGER}
  </select>
  
     <select id="selectMaxId" resultType="java.lang.Integer">
		select IFNULL(max(id),0) from study
	</select>

	<select id="getStudyList" resultMap="ResultMapWithBLOBs"
		parameterType="java.lang.Integer">
		select
		<include refid="Base_Column_List" />
		,
		<include refid="Blob_Column_List" />
		from study
		where state = 1 and type=#{type,jdbcType=INTEGER} limit
		#{pageNumber,jdbcType=INTEGER},#{pageSize,jdbcType=INTEGER}
	</select>


	<select id="getStudyListByCon" resultMap="ResultMapWithBLOBs">
		select
		<include refid="Base_Column_List" />
		,
		<include refid="Blob_Column_List" />
		from study
		where title like CONCAT ('%',#{study.title},'%')
		and content like CONCAT ('%',#{study.content},'%')
		<if test="study.time!=''">
		 and time=#{study.time}
		</if>
		<if test="study.state!=null">
		 and state=#{study.state}
		</if>
		<if test="study.type!=null">
		 and type=#{study.type}
		</if>
	</select>
  
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from study
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="army.db.pojo.Study" >
    insert into study (id, title, time, 
      imgUrl, state, extra, 
      releaseBy, point, type, 
      content)
    values (#{id,jdbcType=INTEGER}, #{title,jdbcType=VARCHAR}, #{time,jdbcType=VARCHAR}, 
      #{imgurl,jdbcType=VARCHAR}, #{state,jdbcType=INTEGER}, #{extra,jdbcType=VARCHAR}, 
      #{releaseby,jdbcType=INTEGER}, #{point,jdbcType=INTEGER}, #{type,jdbcType=INTEGER}, 
      #{content,jdbcType=LONGVARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="army.db.pojo.Study" >
    insert into study
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="title != null" >
        title,
      </if>
      <if test="time != null" >
        time,
      </if>
      <if test="imgurl != null" >
        imgUrl,
      </if>
      <if test="state != null" >
        state,
      </if>
      <if test="extra != null" >
        extra,
      </if>
      <if test="releaseby != null" >
        releaseBy,
      </if>
      <if test="point != null" >
        point,
      </if>
      <if test="type != null" >
        type,
      </if>
      <if test="content != null" >
        content,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="title != null" >
        #{title,jdbcType=VARCHAR},
      </if>
      <if test="time != null" >
        #{time,jdbcType=VARCHAR},
      </if>
      <if test="imgurl != null" >
        #{imgurl,jdbcType=VARCHAR},
      </if>
      <if test="state != null" >
        #{state,jdbcType=INTEGER},
      </if>
      <if test="extra != null" >
        #{extra,jdbcType=VARCHAR},
      </if>
      <if test="releaseby != null" >
        #{releaseby,jdbcType=INTEGER},
      </if>
      <if test="point != null" >
        #{point,jdbcType=INTEGER},
      </if>
      <if test="type != null" >
        #{type,jdbcType=INTEGER},
      </if>
      <if test="content != null" >
        #{content,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="army.db.pojo.Study" >
    update study
    <set >
      <if test="title != null" >
        title = #{title,jdbcType=VARCHAR},
      </if>
      <if test="time != null" >
        time = #{time,jdbcType=VARCHAR},
      </if>
      <if test="imgurl != null" >
        imgUrl = #{imgurl,jdbcType=VARCHAR},
      </if>
      <if test="state != null" >
        state = #{state,jdbcType=INTEGER},
      </if>
      <if test="extra != null" >
        extra = #{extra,jdbcType=VARCHAR},
      </if>
      <if test="releaseby != null" >
        releaseBy = #{releaseby,jdbcType=INTEGER},
      </if>
      <if test="point != null" >
        point = #{point,jdbcType=INTEGER},
      </if>
      <if test="type != null" >
        type = #{type,jdbcType=INTEGER},
      </if>
      <if test="content != null" >
        content = #{content,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="army.db.pojo.Study" >
    update study
    set title = #{title,jdbcType=VARCHAR},
      time = #{time,jdbcType=VARCHAR},
      imgUrl = #{imgurl,jdbcType=VARCHAR},
      state = #{state,jdbcType=INTEGER},
      extra = #{extra,jdbcType=VARCHAR},
      releaseBy = #{releaseby,jdbcType=INTEGER},
      point = #{point,jdbcType=INTEGER},
      type = #{type,jdbcType=INTEGER},
      content = #{content,jdbcType=LONGVARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="army.db.pojo.Study" >
    update study
    set title = #{title,jdbcType=VARCHAR},
      time = #{time,jdbcType=VARCHAR},
      imgUrl = #{imgurl,jdbcType=VARCHAR},
      state = #{state,jdbcType=INTEGER},
      extra = #{extra,jdbcType=VARCHAR},
      releaseBy = #{releaseby,jdbcType=INTEGER},
      point = #{point,jdbcType=INTEGER},
      type = #{type,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>